
.container {
margin:20px;

}

.title {
  font-size: 2rem;
  font-weight: 400;
  color: #333;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-container {
  background-color: #f2f2f2;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

  .card img {
    object-fit: cover;
    height: 100%;
    
  }



