<!--<h1 class="mat-h1">Pedidos:</h1>

<mat-spinner *ngIf="cargando" class="loader"></mat-spinner>



<ng-container *ngIf="pedidos && pedidos.length > 0; else noPedidos">
  <button mat-raised-button color="primary" (click)="openAgregarPedidoDialog()">Agregar Pedido</button>

  <div class="pedidos-container mat-elevation-z4">
    <div *ngFor="let pedido of pedidos" class="pedido-card mat-card">
      <mat-card-header>
        <mat-card-title>Mesa {{ pedido.idMesa }}</mat-card-title>
        <mat-card-subtitle>Plato {{ pedido.idPlato }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ pedido.observaciones }}</p>
        <p>{{ pedido.fechaPedido | date: 'dd/MM/yyyy hh:mm a' }}</p>
        <p>Estado: {{ pedido.estadoPedido }}</p>
        <p>Total: {{ pedido.total | currency }}</p>
      </mat-card-content>
    </div>
  </div>

  <div class="historial-container mat-elevation-z4 " *ngIf="!cargando">
    <div class="historial-info mat-card">
      <mat-card-title>Pedidos</mat-card-title>
      <mat-card-content>
        <p>Pedidos realizados: {{ pedidos.length }}</p>
        <p>Pedidos pendientes: {{ getPedidos() }}</p>

        <p>Pedidos completados: {{ getPedidosCompletados() }}</p>
      </mat-card-content>
    </div>
    <div class="historial-pedidos">
      <h2>Historial de pedidos</h2>-->
      <!-- Aquí va la grilla del historial de pedidos -->
    <!--</div>
  </div>
</ng-container>

<ng-template #noPedidos>
  <div class="no-pedidos-container mat-elevation-z4">
    <mat-icon>add_circle_outline</mat-icon>
    <button mat-raised-button color="primary" (click)="openAgregarPedidoDialog()">Agregar Pedido</button>
    <p>No hay pedidos</p>
  </div>
</ng-template>


<div class="error-container" *ngIf="error">
  <mat-card>
    <mat-card-title>Error</mat-card-title>
    <mat-card-content>
      {{ error }}
    </mat-card-content>
  </mat-card>
</div>-->


