<!--<div class="container">
  <h1>Agregar Pedido</h1>

  <form class="example-form" #nuevoPedidoForm="ngForm">
    <mat-form-field>
      <mat-label>Plato</mat-label>
      <mat-select [(ngModel)]="nuevoPedido.idPlato" name="idPlato" required>
        <mat-option *ngFor="let plato of platos" [value]="plato.id">{{plato.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mesa</mat-label>
      <mat-select [(ngModel)]="nuevoPedido.idMesa" name="idMesa" required>
        <mat-option *ngFor="let mesa of mesas" [value]="mesa.id">{{mesa.numero}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Observaciones</mat-label>
      <textarea matInput [(ngModel)]="nuevoPedido.observaciones" name="observaciones"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="agregarPedido()" [disabled]="nuevoPedidoForm.invalid">Agregar</button>
  </form>
</div>-->


